.container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.textecontainer{
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: white;
    margin-top: 170px;
    margin-bottom: 10px;
    margin-right: 35px;
    background-color: rgb(32, 31, 31);
    transition: background-color 0.3s ease;
    padding: 2%;
    width: 45%;
    
}
.container img{
    margin-top: 115px;
    margin-left: 111px;
    font-size: xx-large;
}
.textecontainer:hover{
    background-color: rgb(56, 55, 55);
}

.textecontainer h3{
    font-size: 14px;
}

@media screen and (max-width:432px){
    .container img{
        display: none;
    }
    .textecontainer{
        width: 90%;
        margin-left: 20px;
        margin-top: 100px;
    }
    .textecontainer h3{
        font-size: 17px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width:900px) {
    .container img{
        display: none;
    }
    .textecontainer{
        width: 90%;
        margin-left: 20px;
    }
    
    .textecontainer h3{
        font-size: 20px;
    }
}