body{
    background-color: #131212;
}
.cv {
    text-align: center;
}
.cv img{
    display: flex;
    margin: 0 auto ;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 2px black;
    box-shadow: black;
}
@media screen and (max-width:432px) {
    .cv img{
        width: 95%;
        margin-top: 100px;
        margin-bottom: 0px;
    }
}