.Navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px white;
}

.Navbar h1{
    margin-left: 58px;
    margin-top: 30px;
}

.reseau li{
    list-style: none;
    margin-left: 2px;
    margin-right: 2px;
    
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    margin: 35px;
    margin-right: 58px;
}

.CV a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding: 4px;
    border: solid 2px rgb(107, 105, 105);
    border-radius: 5px;
    transition: background-color 1s ease;
}
.CV a:hover{
    background-color: rgb(56, 55, 55);
}

.Projet a{
    text-decoration: none;
    font-size: 22px;
    color: white;
}
html {
    scroll-behavior: smooth;
  }