.footer{
    margin-bottom: 20px;
    margin-top: 30px;
    border-top: solid 2px white;
    display: flex;
    justify-content: space-between;
}
.texte2 h3{
    margin-top: 45px;
    font-size: 11px;
}
.logo{
    margin: 35px 45px 5px 0px;
    font-size: large;
    display: flex;
    flex-direction: column;
    
}
